app.control.directive('default', function() {
  var DOM = {
    init: function(input) {
      $input = $(input);
      $label = $('<label>' + $input.attr('default') + '</label>')
      $input.css('position', 'absolute');
      $input.css('z-index', 10);
      $input.outerWidth($input.parent().outerWidth());
      $input.parent().outerHeight($input.outerHeight());
      $label.innerHeight($input.innerHeight());
      $label.css('padding-top', $input.css('padding-top'));
      $label.css('padding-left', $input.css('padding-left'));
      $label.css('font-size', $input.css('font-size'));
      $label.css('font-weight', $input.css('font-weight'));
      $input.after($label);
      return { input: $input, label: $label };
    },
    show: function($div) {
      $div.css('opacity', 0.5);
    },
    hide: function($div) {
      $div.css('opacity', 0);
    }
  }
  return {
    restrict: 'A',
    scope: { value:'=ngModel' },
    controller: function($scope) {
      $scope.isEmpty = function(value) {
        value ? DOM.hide($scope.label) : DOM.show($scope.label);
      };
      $scope.update = function(value) {
        $scope.value = value
      };
    },
    compile: function(element) {
      var $div = DOM.init(element);
      return function link(scope, element, attrs) {
        scope.label = $div.label;
        scope.$watch('value', scope.isEmpty);
        // NOTE: Update the scope thro this way seperately
        scope.$watch(attrs.ngModel, scope.update);
      }
    }
  }
});

app.control.directive('onFocus', function() {
  return {
    restrict: 'A',
    compile: function(element) {
      element.focus();
    }
  }
});
