app.control.directive('default', function($compile) {
  return {
    restrict: 'A',
    scope: {},
    compile: function(element, attrs) {
      var $input = $(element);
      var $label = $('<label>' + $(element).attr('default') + '</label>');
      attrs.$set('ng-change', 'isEmpty()');
      $input.css('position', 'absolute');
      $input.after($label);
    }
  }
});
