app.widget.directive('slideshow', function($timeout) {
  return {
    scope: {},
    restrict: 'E',
    replace: true,
    template: '<div class="pic"><img src="images/pic.reebok.insta-pump-fury.png" style="width:270px;height:270px"/></div>'
  }
});
