<div id="Home">
	<div class="logo"></div>
	<div class="canvas">
		<div class="pic"><div class="clickable" data-url="/magazine.view">请按这里</div></div>
	</div>
	<div class="desc">
		<h1>朝我看<em>．</em>潮我刊</h1>
		<p><em>潮．我看</em></p>
		<p>
			生活．该有个性．也该由自已一手掌控。<br/>
			喜欢什么品牌，爱看什么样的资讯，<br/>
			自已的品位态度，一切由我作主。<br/>
		</p>
		<p>潮我刊．一本让您自我定制的潮流资讯杂志。</p>
	</div>
	<ul class="choices">
		<li class="male20 clickable"></li>
		<li class="male30 clickable"></li>
		<li class="female30 clickable"></li>
		<li class="female20 clickable"></li>
		<li class="custom clickable"></li>
	</ul> 
</div>