<!DOCTYPE HTML>
<html xmlns:ng="http://angularjs.org">
<head>
	<title>【潮5刊】朝我看．潮我刊</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="css/web.css" />
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="js/turn.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#book").turn({ elevation:50, page:2 });
		});
	</script>
</head>
<body id="MagazineView">
	<div class="logo"></div>
	<ul class="menu">
		<li class="magazine clickable"><div class="total"></div></li>
		<li class="bookclip clickable"></li>
		<li class="friend clickable"></li>
	</ul>
	<div class="canvas">
		<!-- ToDo: Cover -->
		<!-- ToDo: Prev/Next Arrow -->
		<!-- ToDo: Keyboard Control -->
		<!-- ToDo: Zoom for Details -->
		<!-- ToDo: Zoom Out for magazine choices -->
		<div id="book">
			<div class="hard"> Cover </div> 
			<div class="hard">
				<div class="ribbon clickable">
					<div class="bg top"></div>
					<div class="bg bottom"></div>
					<div class="instruction">收藏 / 分享</div>
				</div>
				<div class="time">3天前</div>
				<div class="product">
					<label>商品</label>
					<h5>Insta Pump Fury</h5>
					<button title="订阅"><div class="icon subscribe"></div></button>
					<button title="屏蔽相关资讯"><div class="icon block"></div></button>
				</div>
				<ul class="brand">
					<li>
						<img src="img/ico.brand.reebok.png" title="Reebok" />
						<button title="订阅"><div class="icon subscribe selected"></div></button>
					</li>
					<li>
						<img src="img/ico.brand.atmos.png" title="atmos" />
						<button title="订阅"><div class="icon subscribe"></div></button>
					</li>
				</ul>
				<div class="pic">
					<img src="img/pic.reebok.insta-pump-fury.png" style="width:270px;height:270px"/>
				</div>
				<h1>atmos x Reebok INSTA PUMP FURY 雪豹 別注鞋款</h1>
				<div class="say">
					<button class="radio left" title="赞">
						<div class="icon like"></div>
						<label>627</label>
					</button>
					<button class="radio right" title="弹">
						<div class="icon hate"></div>
						<label>3</label>
					</button>
					<div class="icon conversation" title="评论">15</div>
				</div>
				<div class="desc clickable">
					Reebok的经典鞋款系列INSTA PUMP FURY在今个夏季动作多多，先后与多个品牌联手擦出别样新火花。最新联手atmos推出白豹别注鞋款...
				</div>
			</div>
			<div>
				<div class="ribbon clickable">
					<div class="bg top"></div>
					<div class="bg bottom"></div>
					<div class="instruction">收藏 / 分享</div>
				</div>
				<div class="time">3天前</div>
				<div class="product">
					<label>商品</label>
					<h5>2012秋冬男裝</h5>
					<button title="订阅"><div class="icon subscribe"></div></button>
					<button title="屏蔽相关资讯"><div class="icon block"></div></button>
				</div>
				<ul class="brand">
					<li>
						<img src="img/ico.brand.SASQUATCHfabrix.png" title="SASQUATCHfabrix." />
						<button title="订阅"><div class="icon subscribe"></div></button>
					</li>
				</ul>
				<div class="pic">
					<img src="img/pic.SASQUATCHfabrix.png" style="width:100%"/>
				</div>
				<h1>美式混搭風SASQUATCH fabrix. 2012秋冬男裝新款</h1>
				<div class="say">
					<button class="radio left selected" title="赞">
						<div class="icon like"></div>
						<label>81</label>
					</button>
					<button class="radio right" title="弹">
						<div class="icon hate"></div>
						<label>5</label>
					</button>
				</div>
				<div class="desc clickable">
					日本潮流品牌 SASQUATCH fabrix. 為慶祝即將到來的10周年紀念，在公布了2012年秋冬男裝新款後旋即發布lookbook...
				</div>
			</div>
			<div>
				<div class="ribbon clickable">
					<div class="bg top"></div>
					<div class="bg bottom"></div>
					<div class="instruction">收藏 / 分享</div>
				</div>
				<div class="time">3天前</div>
				<div class="product">
					<label>商品</label>
					<h5>Insta Pump Fury</h5>
					<button title="订阅"><div class="icon subscribe"></div></button>
					<button title="屏蔽相关资讯"><div class="icon block"></div></button>
				</div>
				<ul class="brand">
					<li>
						<img src="img/ico.brand.reebok.png" title="Reebok" />
						<button title="订阅"><div class="icon subscribe selected"></div></button>
					</li>
					<li>
						<img src="img/ico.brand.atmos.png" title="atmos" />
						<button title="订阅"><div class="icon subscribe"></div></button>
					</li>
				</ul>
				<div class="pic">
					<img src="img/pic.reebok.insta-pump-fury.png" style="width:270px;height:270px"/>
				</div>
				<h1>atmos x Reebok INSTA PUMP FURY 雪豹 別注鞋款</h1>
				<div class="say">
					<button class="radio left" title="赞">
						<div class="icon like"></div>
						<label>627</label>
					</button>
					<button class="radio right" title="弹">
						<div class="icon hate"></div>
						<label>3</label>
					</button>
					<div class="icon conversation" title="评论">15</div>
				</div>
				<div class="desc clickable">
					Reebok的经典鞋款系列INSTA PUMP FURY在今个夏季动作多多，先后与多个品牌联手擦出别样新火花。最新联手atmos推出白豹别注鞋款...
				</div>
			</div>
			<div>
				<div class="ribbon clickable">
					<div class="bg top"></div>
					<div class="bg bottom"></div>
					<div class="instruction">收藏 / 分享</div>
				</div>
				<div class="time">3天前</div>
				<div class="product">
					<label>商品</label>
					<h5>2012秋冬男裝</h5>
					<button title="订阅"><div class="icon subscribe"></div></button>
					<button title="屏蔽相关资讯"><div class="icon block"></div></button>
				</div>
				<ul class="brand">
					<li>
						<img src="img/ico.brand.SASQUATCHfabrix.png" title="SASQUATCHfabrix." />
						<button title="订阅"><div class="icon subscribe"></div></button>
					</li>
				</ul>
				<div class="pic">
					<img src="img/pic.SASQUATCHfabrix.png" style="width:100%"/>
				</div>
				<h1>美式混搭風SASQUATCH fabrix. 2012秋冬男裝新款</h1>
				<div class="say">
					<button class="radio left selected" title="赞">
						<div class="icon like"></div>
						<label>81</label>
					</button>
					<button class="radio right" title="弹">
						<div class="icon hate"></div>
						<label>5</label>
					</button>
				</div>
				<div class="desc clickable">
					日本潮流品牌 SASQUATCH fabrix. 為慶祝即將到來的10周年紀念，在公布了2012年秋冬男裝新款後旋即發布lookbook...
				</div>
			</div>
			<div></div>
			<div class="hard"></div>
			<div class="hard"></div>
		</div>
	</div>
</body>
</html>