*
	margin:	0
	padding: 0
	border:	0
	+box-sizing(border-box)
html
	height:	100%
	vertical-align: baseline
	outline: 0
body
	height:	100%
	line-height: 1.2
	background:	image-url("bg.png")
	color: #666666
	font-size: 100%
	font-family: arial,tahoma,sans-serif
	letter-spacing: 0.1em
ol,
ul
	list-style: none
h1
	color: #000000
	font-size: 40px
h5
	color: #000000
	font-size: 12px
em
	font-style: normal
button
	display: inline-block
	cursor:  hand
	cursor:  pointer
	padding: 6px 12px
	border:  1px solid #cccccc
		bottom-color: #aaaaaa
	color: #666666
	font:
		size:   11px
		weight: bold
	text:
		align: center
	white-space: nowrap
	background-color: #f2f2f2
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff,EndColorStr=#e0e0e0)
	+background-image(linear-gradient(left top, #ffffff 0, #e0e0e0 100%))
	+border-radius(3px)
	+text-shadow(0 -1px 1px #ffffff)
	+box-shadow(inset 0 0 1px #ffffff)
	.icon
		float: left
	&.radio
		float: left
		display: block
		&.left
			+border-top-right-radius(0)
			+border-bottom-right-radius(0)
		&.right
			border:
				left: 0
			+border-top-left-radius(0)
			+border-bottom-left-radius(0)
	&:hover
		border-color: #999999
		+box-shadow(0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #ffffff)
	&.selected 
		border: 1px solid #aaaaaa
		border-top-color: #999999
		border-bottom-color: #cccccc
		background-color: #dddddd
		filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#e6e6e6,EndColorStr=#dddddd)
		+background-image(linear-gradient(left top, #e6e6e6 0, #dddddd 100%))
		+box-shadow(inset 0 1px 2px #aaaaaa)

// ----------------------------------------------------------------------------

.hidden
	display: none
.clickable
	cursor: hand
	cursor: pointer
::selection
	background: #ffffcc
	text-shadow: none

// ----------------------------------------------------------------------------

.logo
	position: absolute
	top: 30px
	left: 30px
	width: 60px
	height: 60px
	background: image-url("img.web.png") no-repeat
.canvas
	position: absolute
	width: 100%
	height: 100%
	background: image-url("bg.gradient.png") repeat-x left bottom
.icon
	width: 16px
	height: 16px
	background:  image-url("img.web.png") no-repeat
	&.like
		background-position: -40px -160px
		button:hover &
			background-position: -40px -180px
		button.selected &
			background-position: -40px -180px
	&.hate
		background-position: -60px -160px
		button:hover &
			background-position: -60px -180px
		button.selected &
			background-position: -60px -180px
	&.subscribe
		background-position: -80px -160px
		&.selected
			background-position: -80px -180px
		button:hover &
			background-position: -80px -180px
	&.block
		background-position: -100px -160px
		button:hover &
			background-position: -100px -180px
	&.conversation
		background-position: -120px -180px

// ----------------------------------------------------------------------------

#book
	width:  100%
	height: 100%
	min:
		width: 860px
		height: 500px
	margin: 0 auto
	background: image-url("bg.book.center.png") repeat-y center top
	+transition(margin-left 0.2s ease-in-out)
	.page-wrapper
		+perspective(2000px)
	.shadow
		-webkit-transition: -webkit-box-shadow 0.5s
		-moz-transition: -moz-box-shadow 0.5s
		-o-transition: -webkit-box-shadow 0.5s
		-ms-transition: -ms-box-shadow 0.5s
		+box-shadow(0 0 10px #999999)
	.page
		+box-shadow(0 0 20px rgba(0,0,0,0.2))
		button
			padding: 6px
		h1
			position: absolute
			bottom: 0
			width: 35%
			padding: 20px
			font:
				size: 18px
		.desc
			line-height: 18px
			left: 120px
			margin: 20px 35% 20px 150px
			padding: 8px
			font:
				size: 12px
			letter-spacing: 0.4em
			&:hover
				background: #ffffcc
		.pic
			height: 50%
			margin: 0 20px 0 150px
		.say
			float: right
			margin: 0 20px
			.conversation
				clear: both
				float: right
				width: auto
				margin: 10px 4px
				padding:
					left: 18px
				font:
					size: 12px
					weight: bold
				color: $color-primary
				letter-spacing: 0
				+opacity(0.5)
		.time
			position: absolute
			margin: 10px 90px
			font:
				size: 12px
		.brand
			clear: both
			float: left
			margin: 0 30px
			li
				clear: both
			img
				float: left
				margin: 0 4px 4px 4px
				padding: 1px
				border: 2px solid #eeeeee
			button
				margin: 12px 4px 0 4px
		.product
			float: left
			width: 130px
			margin: 100px 0 20px 0
			padding: 20px
			background: rgba(0, 0, 0, 0.1)
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e0000000, endColorstr=#e0000000)"
			font:
				size: 12px
				weight: bold
			h5
				height: 80px
			label
				color: $color-primary
				margin:
					bottom: 4px
		.ribbon
			position: absolute
			width: 40px
			margin: 0 30px
			letter-spacing: 0
			text:
				align: center
			font:
				size: 10px
				weight: bold
			.bg
				background: image-url("img.web.png") no-repeat
				&.top
					width: 100%
					height: 8px
					background-position: -400px 0
				&.bottom
					width: 100%
					height: 50px
					background-position: -400px -90px
			.instruction
				color: $color-primary
				width: 50px
				margin: 4px 0 0 -4px
				+text-shadow(0 -1px 1px #cccccc)
		&.hard
			height: 100%
			border: 1px solid #cccccc
		&.odd
			+background-image(linear-gradient(right, #ffffff 95%, #cacaca 100%))
			h1
				right: 0
				text:
					align: right
		&.even
			+background-image(linear-gradient(left, #ffffff 95%, #dadada 100%))
			.pic
				height: 50%
				margin: 0 150px 0 20px
			.desc
				right: 120px
				margin: 20px 150px 20px 35%
			.time
				right: 0
			.say
				float: left
				.conversation
					float: left
			.product
				float: right
				text:
					align: right
			.brand
				float: right
				img
					float: right
			.ribbon
				right: 0

//	.page.p1
//		background:          url(../img/bg.book.cover.png) no-repeat 0 0;
//	.page.p2
//		background:          url(../img/bg.book.cover.png) no-repeat 0 0;
/*.book { background:url(../img/bg.book.center.png) repeat-y center top; z-index:0; }*/
