<!DOCTYPE html>
<html ng-app="chao5kan">
<head>
  <title><%=t "app.title" -%></title>
  <%# stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= csrf_meta_tags %>
</head>
<body ng-view>
</body>
</html>
