<!doctype html>
<html lang="en" ng-app="chao5kan">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>【潮5刊】朝我看．潮我刊</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body ng-view>
  <%= javascript_include_tag "application" -%>
</body>
</html>
